.preview {
  border: 1px solid black;
  border-radius: 5px 30px;
  padding: 20px;
  height: 400px;
  background: #CAD6F0;
}

.preview:hover {
  transform: scale(1.02);
}

.previewTitle {
  font-size: 1.5em;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}
